@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap%27');

.body{
    width: 100%;
    
      
      
}
.contactMain {
    background-color: #dad8d8;
    width: 100%;
    margin-top: 105px;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.containerComm {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

.leftComm,
.rightComm {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 50%;
}

.leftComm {
    row-gap: 2.5rem;
    
}

.rightComm {
    background-color: #bebbbb;
}
.rightComm iframe{
    width: 100%;
    height: 100%;
}

.hedarContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    row-gap: 1rem;
}

.informationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    padding: 5%;
    
    
}

.infoDiv {
    padding: 2rem;
    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: self-start; /* ?? */
    max-width: 450px;
    width: 350px;
    min-width: 300px;
    word-wrap: break-word;
    
}

.infoIconDiv {
    width: 50px;
    height: 50px;
    background-color: rgb(56, 42, 190);
    color: #fff;
    padding: .5rem;
}

.infoPDiv {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
@media screen and (max-width:1040px) {
    .informationContainer{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .infoDiv{
        align-items: center;
        text-align: center;
        width: 80%;
    }

}

@media screen and (max-width:800px) {
    .containerComm{
        width: 100%;
    }
    .leftComm{
        
        max-width: 100%;
    }
    .rightComm{
        display: none; /*GoogleMap leftComm üstüne gelecek*/
    }
    .informationContainer{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .infoDiv{
        align-items: center;
        text-align: center;
        width: 80%;
    }

}

@media screen and (max-width:470px) {
    .containerComm{
        width: 100%;
    }
    .leftComm{
        
        max-width: 100%;
    }
    
    .rightComm{
        display: none; /*GoogleMap leftComm üstüne gelecek*/
    }
    .informationContainer{
        flex-direction: column;
        width: auto;
        row-gap: 2rem;
    }
   .infoDiv{
    
    width: 100%;
   }
   .backToTop.visible{
    display: none;
}
}