.body {
    width: 100%;
}

.containerComm {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
    
}

.leftComm,
.rightComm {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftComm {
    row-gap: 2.5rem;

}

.rightComm {
    background-color: #bebbbb;
}

.rightComm iframe {
    width: 100%;
    height: 100%;
}

.headerContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    row-gap: 1rem;
}

.informationContainer {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    column-gap: 3rem;

}

.infoDiv {
    padding: 2rem;
    background: linear-gradient(135deg, #1e375f, #e4efe9, #213b68);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: self-start;
    /* ?? */
    max-width: 80%;
    width: 400px;
    word-wrap: break-word;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #000;
    border-radius: 8px;
    transition: all .5s ease;
}

.infoDiv:hover {
    scale: 1.05;
    transition: all .5s ease;
    transform: translateY(-10px);
    box-shadow: 0 17px 25px rgba(0, 0, 0, 0.13);


}

.infoIconDiv {
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #7f848f, #e4efe9, #7f848f);
    color: #000;
    padding: .5rem;
    border-radius: 50%;
}

.infoPDiv {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.parlamaDiv {
    position: relative;
    overflow: hidden;
}

.parlamaDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.parlamaDiv:hover::before {
    opacity: 1;
}

.infoPDiv h3 {
    font-size: 20px;
}

.firstP {
    font-size: 16px;
}

.secondP {
    font-size: 13px;
}


@media screen and (max-width:1040px) {
    .informationContainer {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .infoDiv {
        align-items: center;
        text-align: center;
        width: 80%;
    }

}

@media screen and (max-width:800px) {
    .containerComm {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;

    }

    .leftComm {

        max-width: 100%;
    }

    .rightComm {
        max-width: 100%;
        height: 300px;
        max-height: 600px;
    }

    .informationContainer {
        flex-direction: column;
        width: auto;
        row-gap: 2rem;
    }

    .infoDiv {
        min-width: 400px;
        width: 100%;
    }

}

@media screen and (max-width:470px) {
    .containerComm {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    
    }

    .leftComm {

        max-width: 100%;
    }

    .rightComm {
        max-width: 100%;
        height: 300px;
        max-height: 400px;
    }

    .informationContainer {
        flex-direction: column;
        width: auto;
        row-gap: 2rem;
    }

    .infoDiv {
        padding: 2rem .5rem;
        width: 100%;
        min-width: 300px;
    }

    .backToTop.visible {
        display: none;
    }
}