@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerNav {
    height: 105px;
    width: 100%;
    padding: 1.5rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: all 1s ease;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}

.containerNav a {
    font-size: 16px;
    font-weight: 600;
    padding: .5rem;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: all 2.5s ease;
}

/* .containerNav a:hover{


} */

.activeNav {
    background-color: #212529;
    transition: all 1s ease;
}

.activeNav a {
    color: #fff;
    transition: all 1s ease;
}

/* .activeNav a:hover{

} */

.logo {
    /* max-width: 90px; */
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    column-gap: .5rem;
}


.navbarContent {
    position: relative !important;

}

.contentUl {
    display: flex;
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    list-style: none;
}

.contentLi {
    position: relative;
}

.searchDiv {
    width: 50%;
    position: relative;
    min-width: 200px;
    max-width: 300px;

}


.searchDiv svg {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    transition: right 1s ease;
}

.searchDiv svg:hover {
    cursor: pointer;
}

.search-input {
    width: 100%;
    border-radius: 8px;
    padding: .5rem 2.5rem .5rem 1rem;
    position: relative;
    border: 1px solid #000000;
    visibility: hidden;
    opacity: 0;
    transition: padding .5s ease-in, visibility 1s, opacity 1s;
    color: #333;
    font-size: 15px;

}

.search-input:focus {
    outline: none;
}

.active {
    visibility: visible;
    opacity: 1;
    padding: .7rem 2.5rem .7rem 1rem;
    transition: padding .5s ease-in-out, visibility 0s, opacity 1.5s;

}



.hamburgerButton {
    display: none;
}

/* @media screen and (max-width:740px) {
    /* .containerNav{
        justify-content: space-between;
    } 
}

@media screen and (min-width: 741px) and (max-width: 1039px) {} */



@media screen and (max-width: 1040px) {
    .containerNav {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        padding: 0;
        font-size: 15px;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .navbarContent {
        display: none;
        /* opacity: 0;
        transition: opacity 0.3s ease; */
    }

    .searchDiv {
        min-width: 175px;
        max-width: 500px;
    }

    .hamburgerButton {
        width: 40px;
        height: auto;
        display: flex !important;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }



    .hamburgerButton:hover {
        cursor: pointer;
    }

    .menuActive {
        max-height: 247.6px;
        width: 100%;
        display: block;
        position: absolute !important;
        top: 6.5rem;
        right: 0;
        background-color: #212529;
        border-top: 1px solid #fff;
        /* opacity: 1; */
        z-index: 9;
    }

    .contentUl {
        flex-direction: column;
        row-gap: .5rem;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }

    .contentLi {
        width: 100%;
        text-align: center;
    }

    .contentLi a {
        width: 100%;
        display: grid;
    }

    .contentLi:not(:last-child) {
        border-bottom: 1px solid #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .containerNav.activeNav .navbarContent.menuActive {
        background-color: #212529;
        transition: all 1s ease;
        border-top: 1px solid #fff;
    }

    .containerNav .hamburgerButton svg {
        fill: #000;
        transition: all 1s ease;
    }

    .containerNav.activeNav .hamburgerButton svg {
        fill: #fff;
        transition: all 1s ease;
    }

    .containerNav.activeNav .navbarContent.menuActive .contentLi:not(:last-child) {
        border-bottom: 1px solid #fff;
    }

    .containerNav .navbarContent.menuActive {
        background-color: rgba(255, 255, 255, .9);
        border-top: 1px solid #000;
        transition: all 1s ease;
    }

    .containerNav .navbarContent.menuActive .contentLi:not(:last-child) {
        border-bottom: 1px solid #000;
    }

}

@media screen and (max-width:480px) {
    .logo p {
        font-size: 13px;
    }

    .containerNav {
        padding: 1.5rem 1%;
    }
}