.productContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
    height: auto;
    gap: 1.5rem;
    flex-wrap: wrap;
    max-width: 1367.3px;
}

.outsideProduct {
    width: 250px;
    height: 400px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
}

.productImage {
    width: 100%;
    height: 70%;
    margin-bottom: .5rem;
    border: 1px solid #ccc;
    cursor: pointer;
}

.containerImage {
    width: 100%;
    height: 100%;
}

.productImage img:hover {
    transform: scale(.98);

}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: transform .3s ease; */
}

.productName {
    width: 100%;
    height: 18%;
    padding: .5rem;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.productName p {
    font-size: 16px;
    color: #333;
}

.buttonDiv {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #fff;
    /* z-index: ; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.buttonDiv>.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* background-color: #949191; */
    font-size: 18px;
    background: none;
    padding: .7rem;
    /* background-image: linear-gradient(to right, #fff 0%, #949191 100%); */
    transition: 1s;
    position: relative;
    overflow: hidden;
    /* background-image: linear-gradient(to right, #463f3a, #333533, #202020); */
    z-index: 1;
    background-color: #333533;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    border: none;
}

.buttonDiv>.button1 {
    color: #fff;
}

.buttonDiv>.button1:hover {
    color: #333533;
}

.button::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    /* background-image: linear-gradient(to right, #202020, #333533, #463f3a); */
    background-color: #ffffffb0;
    transition: 1s;
    z-index: -1;
}

.button1::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.button1:hover::before {
    height: 190%;
}

/* 
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33333385;
}

.modal.show {
    opacity: 1;
    /* animation: fadeIn 1.5s ease-out 
}

.modal-content.show {
    opacity: 1;
    transform: scale(1);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* transform: translateY(-100%); *
    }

    100% {
        opacity: 1;
        /* transform: translateY(0); *
    }
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 430px; *
    height: auto;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    opacity: 0;
    transform: scale(.1);
    transform: opacity 2s ease,transform .5s ease;

}

.modal-content img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.modal-content button {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: .5rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
}

.modal-content button:hover {
    background-color: #333;
    color: #fff;
    transition: all .5s ease;
} */

@media screen and (max-width:1040px) {
    .outsideProduct {
        width: 212px;
        height: 310px;
    }

    .productName {
        padding: 0;
    }

    .buttonDiv>.button {
        padding: .2rem 0;
    }
}

@media screen and (max-width:480px) {
    .outsideProduct {
        width: 160px;
        height: 300px;
    }

    .productName p {
        font-size: 13px;
    }

    .productContainer {
        padding: 0;
    }
}