.backToTop {
    position: fixed;
    bottom: 2.4rem;
    right: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #213555;
    z-index: 9999;
    padding: .7rem .5rem;
    cursor: pointer;
    font-size: 16px;
    column-gap: .2rem;
    padding: .8rem;
}

.backToTop svg {
    width: 25px;
    color: #fff;
}

.backToTop:hover {
    cursor: pointer;
    background-color: #435f8d;
    transition: all .5s ease;
}

.backToTop.visible {
    opacity: 1;
}

