.containericons {
    position: fixed;
    z-index: 99;
    bottom: 2.2rem;
    left: 1rem;
}

.svgPDiv {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 50%;
    transition: all .5s ease-in;

}

.svgDiv {
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.svgPDiv svg {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pDiv {
    overflow: hidden;
    opacity: 0;
    margin-left: 2.5rem;
    transition: all 1s ease;
}

.svgPDiv:hover {
    width: 100%;
    border-radius: 20px;
    transition: all 1s ease;
    justify-content: space-evenly;
    background-color: #3f4550;
}

.svgPDiv:hover .pDiv {
    opacity: 1;
    transition: all 1s ease;
    transform: translateX(5px);
}
 a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width:470px) {
    .containericons {
        left: .1rem;
        bottom: 0;
        row-gap: 0 !important;
    }

    .svgDiv,
    .svgPDiv {
        height: 30px;
        font-size: 13px;
    }
}