.containericons {
    position: fixed;
    z-index: 99;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    border-radius: 50%;
}

.svgDiv {
    width: 45px;
    height: 45px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: .8rem;
    border-radius: 50%;
    transition: all .2s ease;
}

.svgDiv svg {
    position: absolute;
    width: 25px;
    left: .6rem;
    top: .6rem;
}

.pDiv {
    overflow: hidden;
    opacity: 0;
    margin-left: 2.5rem;
    background-color: #fff;
    transition: all .2s ease;
}

.svgDiv:hover {
    width: 100%;
    border-radius: 8px;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) ease;
    justify-content: space-evenly;
}

.svgDiv:hover .pDiv {
    opacity: 1;
    transition: all 1s ease;
    transform: translateX(5px);
}